# notasImportantes.txt
pruebas.php
Vista/custome_bootstrap/node_modules
Vista/custome_bootstrap/package-lock.json
Vista/custome_bootstrap/package.json
ZEnsayo_cosas_nuevas/index.php
ZEnsayo_cosas_nuevas/probar.php
.vscode/settings.json 